<header>
<div class="topnav" id="myTopnav">
 <%= link_to "Growlithe", root_path, class: "active" %>
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
  <%= link_to "Help", '/help' %>
   <% if signed_in? %>
          <%= link_to "Users", users_path %>
              <%= link_to "Settings", edit_user_registration_path %>
                <%= link_to "Sign out", destroy_user_session_path %>
                <%= link_to "Posts", '/posts' %>
   <% else %>
          <%= link_to "Sign in", new_user_session_path %>
            <%= link_to "Sign up", new_user_registration_path%>
        <% end %>
  </div>
</div> 
</header>
