<header>
<div class="topnav">
  <a class="logo" id="logo">Growlithe</a>
  <a><%= link_to "Posts", '#' %></a>
  <a><%= link_to "Help", '/help' %></a>
   <% if signed_in? %>
          <a><%= link_to "Users", '/users/index' %></a>
              <a><%= link_to "Profile", '#' %></a>
              <a><%= link_to "Settings", edit_user_registration_path %></a>
                <a><%= link_to "Sign out", destroy_user_session_path %>
              </a>
        <% else %>
          <a><%= link_to "Sign in", new_user_session_path %></a>
        <% end %>
</div> 
</header>