<header>
<div class="topnav">
  <a><%= link_to "Growlithe", root_path, id: "logo" %></a>
  <a><%= link_to "Posts", '#' %></a>
  <a><%= link_to "Help", '/help' %></a>
   <% if signed_in? %>
          <a><%= link_to "Users", '/users/index' %></a>
              <a><%= link_to "Profile", '#' %></a>
              <a><%= link_to "Settings", edit_user_registration_path %></a>
                <a><%= link_to "Sign out", destroy_user_session_path %>
              </a>
        <% else %>
          <a><%= link_to "Sign in", new_user_session_path %></a>
        <% end %>

<div class="notification">
 <a
      class="notifications"
      onclick="showMenu()"
      id=<%= @requests && @requests.count > 0 ? "pending_notifications" : "notifications" %>> 
      <%= @requests && @requests.count > 0 ? "🔔#{@requests.count}": "🔔" %>
    </a>
    <% if signed_in? %>
    <%= link_to("Friends", 
                 users_index_path(user_friend_list: current_user.id),
                 method: :get, id: "friend_list") %>
    <% end %>
  </div>
</div> 
</header>

 <% if @requests && @requests.count  %>
    <div class="dropdown">
      <% @requests.each do |request| %>
        <ul class="dropdown-content">
          <li><%= link_to(User.find(request.request_sender).name,
              users_index_path(id: request.request_sender), class: "dropdown_link",
              target: :_blank) %></li>   
          <li><%= link_to("Accept", friendships_path(id: request.sender),
              method: :post, class: "dropdown_link") %></li>
          <li><%= link_to("Decline", friend_request_path(id: request.id),
              method: :delete, class: "dropdown_link") %></li>
        </ul>
      <% end %>
    </div>
  <% end %>